 h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
 h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  
 h3 {
    font-size: 1.75rem;
    font-weight: bold;
  }
  
  h4 {
    font-size: 1.5rem;
  }
  
  .markdown-container h5 {
    font-size: 1.25rem;
  }
  
  .markdown-container h6 {
    font-size: 1rem;
  }
 ol {
    margin-left: 1.5rem;
  }
  
  .markdown-container ul {
    list-style-type: disc;      
    padding-left: 1.5rem;        
    margin-bottom: 1rem;      
  }
  
 li {
    margin-bottom: 0.5rem;
    margin-left: 0;              
  }
  a {
    display: block;
    width: 100%;
    font-weight: bold;
    color: #2563EB; /* Azul para modo claro */
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
  }
  
  @media (prefers-color-scheme: dark) {
    a {
      color: #60A5FA; /* Azul claro para modo oscuro */
    }
  }
  .markdown-container a *{
    
    width: 100%;
  }
  .markdownClass{
    overflow: hidden;
    position: relative;
  }
  .markdownClass pre{
    display: none;
  }
